:root 
    --red: #dd082f
    --dark-red: #3b020d
    --green: #2ff901
    --yellow: #ffcc02
    --sky: #01fbfb
    --orange: #ffcc02
    --blue: #519afb
    font-size: 16px

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: #fff
    background-position: center center
    background-repeat: no-repeat
    background-attachment: fixed

nav
    display: flex
    justify-content: center

ul
    display: flex
    flex-direction: row

li
    display: flex
    justify-content: center
    align-items: center
    margin: 10px
    padding: 10px
    text-decoration: none
    list-style: none
    background-color: #0884dd
    height: 30px
    border-radius: 5px

li:hover
    background-color: #0884dd

a 
    color: #FFF
    text-decoration: none
    margin: 10px

